<strong>Olá, {{ deliveryman }}!</strong>
<p>Há um novo produto disponível para entrega. Confira abaixo detalhes da entrega:</p>

<p><strong>Produto: </strong> {{ product }}</p>
<p>
  <strong>Informações do destinatário: </strong> <br />
  <strong>Nome: </strong> {{ recipientName }} <br />
  <strong>Estado: </strong> {{ recipientUF }} <br />
  <strong>Cidade: </strong> {{ recipientCity }} <br />
  <strong>Bairro: </strong> {{ recipientNeighborhood }} <br />
  <strong>Rua: </strong> {{ recipientStreet }} <br />
  <strong>Número: </strong> {{ recipientNumber }} <br />
  <strong>Complemento: </strong> {{ recipientComplement }} <br />
  <br />
  <strong>
    Agradecemos a sua colaboração!
  </strong>
</p>
