<strong>Hi, {{ deliveryman }}</strong>
<p>There is a new item available for delivery. Check the details of the recipient below:</p>
<p>
  <strong>Name: </strong> {{ recipientName }} <br />
  <strong>State: </strong> {{ recipientUF }} <br />
  <strong>City: </strong> {{ recipientCity }} <br />
  <strong>Neighborhood: </strong> {{ recipientNeighborhood }} <br />
  <strong>Street: </strong> {{ recipientStreet }} <br />
  <strong>Number: </strong> {{ recipientNumber }} <br />
  <strong>Complement: </strong> {{ recipientComplement }} <br />
  <br />
  <strong>
    Thanks for the collaboration!
  </strong>
</p>
